---
import BaseHead from '../../components/BaseHead.astro';
import Footer from '../../components/Footer.astro';
import Header from '../../components/Header.astro';
import BlogList from '../../components/BlogList.astro';
import { SITE_DESCRIPTION } from '../../consts';
import { getSortedBlogPosts, BLOG_PAGE_SIZE } from '../../api/blog';

const allPosts = await getSortedBlogPosts();
const currentPage = 1;
const totalPages = Math.ceil(allPosts.length / BLOG_PAGE_SIZE);
const startIndex = (currentPage - 1) * BLOG_PAGE_SIZE;
const posts = allPosts.slice(startIndex, startIndex + BLOG_PAGE_SIZE);
---

<!doctype html>
<html lang="ja">
	<head>
		<BaseHead title='Blog' description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<BlogList posts={posts} currentPage={currentPage} totalPages={totalPages} />
		</main>
		<Footer />
	</body>
</html>
