---
const today = new Date();
---

<footer>
	&copy; {today.getFullYear()} Mori Atsushi. All rights reserved.
	<div class="social-links">
		<a href="https://twitter.com/at_sushi_at" target="_blank">
			<img src="/x.svg" alt="X (Twitter)" width="32" height="32" />
		</a>
		<a href="https://facebook.com/tb.atsushi" target="_blank">
			<img src="/facebook.svg" alt="Facebook" width="32" height="32" />
		</a>
		<a href="https://instagram.com/tb.atsushi" target="_blank">
			<img src="/instagram.svg" alt="Instagram" width="32" height="32" />
		</a>
		<a href="https://github.com/Mori-Atsushi" target="_blank">
			<img src="/github.svg" alt="GitHub" width="32" height="32" />
		</a>
	</div>
</footer>
<style>
	footer {
		padding: 2em 1em 6em 1em;
		background: linear-gradient(var(--gray-gradient)) no-repeat;
		color: rgb(var(--gray));
		text-align: center;
	}
	.social-links {
		display: flex;
		justify-content: center;
		gap: 1em;
		margin-top: 1em;
	}
	.social-links a {
		color: var(--accent);
		text-decoration: none;
		font-weight: 500;
		padding: 0.5rem;
		transition: all 0.3s ease;
		display: inline-flex;
		align-items: center;
		justify-content: center;
	}
	.social-links img {
		color: rgb(var(--black));
		transition: opacity 0.3s ease;
	}
	.social-links a:hover img {
		opacity: 0.6;
	}
</style>
