---
interface Props {
	title: string;
	backgroundImage: ImageMetadata;
}

const { title, backgroundImage } = Astro.props;
---

<div class="page-header" style={`background-image: url(${backgroundImage.src})`}>
	<h1 class="page-title">{title}</h1>
</div>

<style>
.page-header {
	position: relative;
	width: 100%;
	height: 300px;
	max-height: 300px;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.page-title {
	color: #FFFFFF;
	text-shadow: var(--box-shadow);
	font-weight: 600;
	font-size: 4rem;
	margin: 0;
	text-align: center;
	z-index: 1;
}
</style>